.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
}

h2 {
  color: #32CD32;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
  margin-top: 5px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #32CD32;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #228B22;
}

.rota {
  margin-top: 20px;
  
}

.rota a {
  color: #ffffff;
  text-decoration: none;
}

.rota a:hover {
  text-decoration: underline;
}
